@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.otf);
}

.opSansBFont {
    font-family: "OpenSans-Bold";
    color: black;
}

.navBarFont {
    font-family: "OpenSans-Bold";
    color: white;
    font-size: 14px;
}
