.background-image {
  position: fixed;
  z-index: 1;

  display: block;
  background-image: url('../img/fondo.jpg');
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.login {
    margin-top: 30vmin;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    padding-bottom: 2vmin;
}

.btn-login {                    /*Changed Bootstrap button*/
    display: inline-block;
    width: 100%;
    background-color: #58FCEC;
    color: white;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-login:hover {
    background-color: #303A2B;
    color: white;
}

.btn-login:active {
    background-color: #303A2B;
    color: white;
}

.idioma {
    padding-top: 3vmin;
    text-align: right;
}

.ico-idioma {
    width: 40px;
    height: 40px;
}

